/*** Layout... ui
***************/
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
}

.mainTitleHeader h1 {
  padding: 5px;
  margin-left: 5px;
}

.navBar {
  width: 30%;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 5px;
}

.navBar ul li {
  list-style: none;
}

.navBar a {
  font-size: 18px;
  color: #1d2639;
  font-weight: 500;
}

.navBar a:hover {
  color: #213e7d;
  font-size: 18.5px;
}

/*** 
Ui pages 
****************/
h1 {
  font-size: 32px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 20px;
}


.appContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  /*   border: 0.5px solid #000;*/
}

.appTitle {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-start;
  padding: 5px;
  margin-left: 5px;
}

.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#dbTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



#dashboard h3 {
  padding: 5px;
  margin-left: 5px;
}

.userTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 20px;
  flex-basis: 50%;
}






/** Edit form 
border: 0.5px solid #000;*/

#userProfile {
  justify-content: center;
  align-items: center;

}

.editForm {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid #000;
  background-color: #fff;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 3px 5px;
  background-color: #fff;
}

.formGroup input {
  height: 35px;
  width: 450px;
  font-size: 18px;
  padding: 7px;
}

.formGroup label {
  font-size: 26px;
  font-weight: 600;
  margin: 5px 0px;
  width: 450px;
  text-align: left;
  background-color: #fff;

}

.formOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  font-size: 20px;
  padding: 5px;
  background-color: #fff;
}



/** Buttons */
button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  min-width: 0;
  padding: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.saveButton {
  background: #195942;
  color: #fff;
  margin: 5px 0;
}

.recipeSaveButton {
  background: #195942;
  color: #fff;
  margin: 5px 0;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  min-width: 0;
  padding: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.logoutButton {
  height: 35px;
  width: 100px;
  font-size: 16px;
  border-radius: 0;
  align-self: flex-start;
  background: #921111;
  color: #fff;
}

.formOptions button {
  align-self: flex-start;
}